<html>
	<head>Custom Truth Table</head>
	<body>
	<p>
		<form action = "/genTable" method = "" get>
			True symbol: <input type = "text" name = "True Symbol">
			<br>
			False symbol: <input type = "text" name = "False Symbol">
			<br>
			Size (2^x): <input type = "text" name = "Size">
			<br>
			<button>Show truth table</button>
			</form>
			</p>
			<a href = "/">Reload main page</a>
			</body>
			</body>
</html>

